.header{
    margin:0 auto;
    width:1200px;
    background-color: #ebecf2;
} 
.container1{
    margin:auto;
    background-color: #ebecf2;
    width:1200px;
}
.header{
    background-color: #384b59;
}
.top-right-icons{
    background-color: #384b59;
    float: right;
}

.imageinheader{
    background-color: #384b59;

}
.titleofblock2{
    text-transform:uppercase;
    font-family:quicksand;
    font-size:  18px;
    font-weight:500;
    margin-left: 4px;
}
.logo{
    padding-top:10px;
    margin-left: 24px;
    padding-bottom: 9px;
    padding-left: 9px;
}
.logomenu{
    width:300px;
    background-color: #384b59;
    display: inline-block;
    
}
.block1{
    margin: 0 24px;
    padding-top: 43px;
}

.yellowRectangle{
    margin-top:36px;
    background-color: #fec006;
    height: 110px;
    width:270px;
    float: left;
}

.budget{
    color:#fff;
    text-transform: uppercase;
    font-family: quicksand;
    font-size: 16px;
    padding-left:18px;
    padding-top:10px;
    font-weight: 500;
}
.number23M{
    margin-left:18px;
    color:#fff;
    font-family: quicksand;
    font-size: 30px;
    padding-top: 45px;
    font-weight: 500;
}
.dollar{
    height: 110px;
    float: right;
    width: 90px;
    background-color: #f1b606;
    text-align: center;
}
.doller-icon{
    padding-top: 32px;
}


.pinkRectangle{
    background-color: #e81d62;
    margin-left:24px;
}

.graph{
    background-color: #dc1c5d;
}

.greenRectangle{
    background-color: #8ac249;
}

.tasklist{
    background-color: #83b845;
}

.blueRectangle{
    background-color: #2095f2;
}

.file-icon{
    background-color: #1e8de6;
}

.yellowbox{
    width:179px;
    float:left;
}

.block2{
    margin: 0 24px;
    padding-top: 55px;
}

.arrow-right-icon{
    float:right;
}

.arrow-left{
    padding-left: 20px;
    transform: rotateY(180deg);
    float: right;
}

.container3{
    padding-top: 38px;
}

.boxa1{
    margin-top:21px;
    background-color:#fff;
    height:225px;
    width:270px;
    float: left;
}
.boxa2{
    margin-left: 24px;      
}
.one{
    font-weight: 700;
    float:right;
    font-size: 34px;
    margin-right:22px;
    color: #e1e2e9;
    font-family: quicksand;
    padding-top: 10px;
}

.footer{
    margin-top:111px;
    width:1200px;
    height:44px;
    background-color:#384b59;
    font-size: 11px;
    color: #9caab4;
    font-family: lato;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 13px;
    vertical-align: middle;
    box-sizing: border-box;
}
.whiteboxmilestone{
    font-size: 16px;
    color: #363F45;
    font-family: lato;
    text-transform: uppercase;
    font-weight:400;
    padding: 20px 46px 0;
    text-align: center;
}
.bar{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    margin:0 24px;
    background-color: #fff;
    height:9px;
}
.c1-outer{
    border-radius: 50%;
    padding:10px;
    margin:28px auto;
    width:111px;
    height:111px;
    background-color: #8ac249;
    box-sizing: border-box;    
}
.c1-inner{
    border-radius: 50%;
    margin-top:0px;
    width:87px;
    height:87px;
    background-color:#f6efd2;
    border:2px solid #fff;
}
.percent{
    font-family: quicksand;
    font-size: 30px;
    padding-top:22px;
    font-weight: 500;
    text-align: center;
}
.progresscolorbar{
    width:26%;
    background-color:#d4c69b;
    height:5px;
    text-align:center;
    border-radius: 2px; 
}

.c2-outer{
    background-color: #fec606;
}
.c3-outer{
    background-color: #f5f5f5;
}

.c3-inner{
    background-color:#f6efd2;
}
.c4-outer{
    background-color:#f5f5f5;
}

.c4-inner{
    background-color:#f6efd2;
}
.block3{
    padding-top:31px;
}
.more-icon{
    margin-right:16px;
    float: right;
}
.more-icon-bottom{
    padding-top:20px;
    margin-right:39px;
    float:right;
}
.row2{
    font-family: lato;
    font-size: 13px;
    text-transform:none;
    background-color:#e1f5e3;
    padding-left:30px;
    color: #1e3620;
    padding-top: 24px;
}
.checkbox-icon{
    float: right;;
    margin-right:30px;    
}

.text{
    text-align: center;
}

.row22{
    width: 30%;
    padding:20px;
    text-transform: none;
    padding-top: 41px;
    border:none;
}

.number1{
    position: absolute;
    right:-9%;
    background-color: #5fccc1;
    bottom:25px;
    padding:5px;
    border-radius: 5px;
}
.four3{
    color: #fff;
    font-family: lato;
    font-size: 12px;
    text-align:left;
    right:15px;
    font-weight:500;
}
.number2:after{
    border-left: 20px solid #5fccc1;
    border-top: 13px solid transparent;
    border-bottom: 20px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    left: 7px;
    top: 9px;
    transform: rotate(90deg);
}
.number1:after{
    content:"";
    border-left: 12px solid #5fccc1;
    border-top: 10px solid transparent;
    border-bottom:9px solid transparent;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 15px;
    transform: rotate(90deg);

}

.number3::after{
    border-left: 13px solid #5fccc1;
    border-top: 12px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    left: 11px;
    top: 13px;
    transform: rotate(90deg);

}   
.percentage{
    font-size:16px;
    font-family: lato;
    text-align:center;
    font-weight: 500;
}
.check{
    border-bottom:1px solid #ebecf2;
    vertical-align: middle;
    background-color: #fff;
    float: right;
    margin-right: 30px;
}   
.boxb12{
    border-top:1px solid #ebecf2 ;
}
.table1rows{
    padding-left: 30px;
    text-align: left;
    font-family: lato;
    font-size: 13px;
    text-transform: initial;
}

.message{
    padding: 5px;
    margin-right:16px;
    margin-top: 13px;
}
.settings{
    padding: 5px;
    margin-right:14px;
    margin-top:10px;
}
.search{
    padding: 5px;
    margin-top: 10px;
} 
 
.round{
    position: absolute;
    width: 19px;
    height: 20px;
    background-color: #fe5621;
    top: 2px;
    right:9px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
}

.heading{
    margin-top:20px;
    margin-bottom: 16px;
    border-bottom:1px solid #ebecf2;
}
.boxa11{
    height:166px;
}


.block4{
    padding-top:69px;
}   
.titleofdiv{
    font-family: quicksand;
    font-size: 16px;
    width:564px;
    background-color: #fff;
    border-bottom: 1px solid #E6E7ED;
    text-transform: uppercase;  
    padding-top:18px;
    padding-bottom: 17px;
    font-weight: 900;
    padding-left:24px;
    box-sizing: border-box;
}

.onel{ 
    padding-top:52px;
    font-family: lato;
    font-size: 16px;
    padding-left: 30px;
    background-color: #fff;
    font-weight: 400;
    color: #919599;
    float:inherit;
}
.twol{
    padding-top: 48px;
}
.threel{
    padding-top:60px;
    padding-bottom:70px;
}
.progressbar{
    border-radius:5px;
    width:332px;
    background-color: #E1E2E6;
    height: 9px;
    float:right;
    margin-right:40px;
}
.coloredprogressbar{
    border-radius: 5px;
    background-color: #5fccc1;
    height:9px;
    position: relative;
}
.more-icon-bottom-right{
    float:right;
    margin-right: 25px;
}
.number3{ 
    right:-11%;

}
.number2{
    right:-6%;
    background-color: #5fccc1;
}
.progressbar1{
    top:3px;
    left:0px;
}
.progressbar2{
    top:3px;
    left:0px;
}
.progressbar3{
    top:3px;
    left: 0px;
}

.table_heading{
    font-family: quicksand;
    font-size: 16px;
    background-color: #fff;
    padding-top:18px;
    padding-bottom: 17px;
    padding-left: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebecf2;
    font-weight: 900;
}    
.table{
    font-family: quicksand;
    margin-left:24px;
    font-size: 16px;
    width: 564px;
    text-transform: uppercase;
    background-color: #fff;
    float: left;
    text-align:left;
    border-bottom:1px solid #ebecf2;
    margin-right:24px;
}
.date{
    text-align: center;
    font-family: lato;
    font-size: 13px;
    color: #919599;
    font-weight: 300;
    vertical-align: middle;
}
td{
    padding-top: 8px;
    padding-left: 30px;
    color: #919599; 
    padding-bottom: 20px;
    border-bottom:1px solid #ebecf2;
}
.row1{
    color: #919599;
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: lato;
    font-size:14px;
    font-weight:400;
}
.row21{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 19px;
    color: #4BAE4F
}

.row5{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: lato;
    text-transform: none;
    font-size:14px;
}
.progressbarfullwidth{
    padding-left:2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    margin:0 24px;
    background-color: #fff;
    height:9px;
    box-sizing: border-box
}
.positionrelative{
    background: #384b59;
    padding: 5px 0 0;
    box-sizing: border-box;

}
.titleofblock1{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
table td{
    border-bottom: 1px solid #ebecf2;
}
.search:hover {
    background-color:#4a5b68;
}

.settings:hover{
    background-color:  #4a5b68;
}
.message:hover{
    background-color: #4a5b68;
}
.positionrelative:hover::before{
    background: #fff;
    bottom:0px;
    content:"";
    transform:scale(0);
    z-index: -1;
}
.menu{
    float: right;
    margin-top: -39px;
}
.positionrelative1{
    background: #384b59;
    padding: 5px 0 0;
    box-sizing: border-box;
    position: relative;
}
.navContainer{
    margin-right:32px;
}
.clear{
    clear: both;
}
.block4clear{
    float: right;
    width:564px;
    margin-right:24px;
}
.progressbarandtext{
    width:564px;
    margin-right: 24px;
}
